.alert.alert-danger
  %strong Oh snap! ٩(ↀДↀ)۶
  Something unexpected happened...
  Maybe
  %a.alert-link{href: "https://github.com/#{repo}"}= repo
  is not valid Github repository.
  Or maybe it was moved.
  Or maybe it's private. Gittens love freedom, they can't live in a private environment.
  Or maybe it's the Github API rate limit.
  Please count to 4.2 and try refreshing the page (,,◕　⋏　◕,,)
