%footer.navbar.navbar-default.navbar-fixed-bottom.container
  .container-fluid
    %p.navbar-text.pull-right
      %a.navbar-link{href: 'https://railsrumble.com/entries/4-gittens'} Rails Rumble 2015
      |
      %a.navbar-link{href: '/ohai'} about
