!!!
/[if IE 8 ] <html id="ie8" lang="en-US">
/ [if (gt IE 9)|!(IE)]><!
%html
  / <![endif]
  %head
    %link{href: 'http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css', media: 'all', rel: 'stylesheet', type: 'text/css'}
    %meta{charset: 'UTF-8'}
      %meta{content: 'width=device-width', name: 'viewport'}
        %title Gittens
  %body
    .container
      - if @error
        .alert.alert-danger
          %strong Oh snap! ٩(ↀДↀ)۶
          Something unexpected happened... Maybe
          %a.alert-link{href: "https://github.com/#{@repo}"}= @repo
          is not valid Github repository.
          Or maybe it was moved.
          Or maybe it's private. Gittens love freedom, they can't live in a private environment.
          Or maybe it's the Github API rate limit.
          If you're confident, please count to 4.2 and try refreshing the page (,,◕　⋏　◕,,)

      %h1 If your Github repo was a kitten...
      %hr
      %a{href: 'random-gitten', class: 'btn btn-primary'} Give me a random gitten!
