%link{href: 'http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css', media: 'all', rel: 'stylesheet', type: 'text/css'}
%script{src: 'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js', type: 'text/javascript', charset: 'utf-8' }

:css
  body {
    background-image: url(http://40.media.tumblr.com/243a3c697cf6329015e50666737f1fe7/tumblr_n5oxlkDq0O1qhy6c9o2_500.png);
  }

:javascript
  $(function() {
    $('#search-form').on('submit', function(e) {
      e.preventDefault();
      var $form = $(this);
      var group = $form.find('.form-group');
      var repo = $form.find('input').val();
      if (repo.match(/.+\/.+/) ) {
        group.removeClass('has-error');
        group.addClass('has-success');
        window.location = '/gitten/' + repo.replace(/https?:\/\/github\.com\//, '').replace(/\s/g, '');
      } else {
        group.addClass('has-error');
      }
    });
  });
