:javascript
  var rumbleBannerBackgroundColor, rumbleBannerTextColor, rumbleBannerLinkColor, rumbleBannerPlacement;
  rumbleBannerBackgroundColor = "#161616";
  rumbleBannerTextColor = "#b0b0b0";
  rumbleBannerLinkColor = "#ffffff";
  rumbleBannerPlacement = "bottom"; // Optionally replace with "bottom".
%script{src: 'https://d4nnn7wspfa3h.cloudfront.net/banner-2015.js', type: 'text/javascript'}
