!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{href: 'http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css', media: 'all', rel: 'stylesheet', type: 'text/css'}
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js', type: 'text/javascript', charset: 'utf-8' }
    :css
      body {
        background-image: url(http://40.media.tumblr.com/243a3c697cf6329015e50666737f1fe7/tumblr_n5oxlkDq0O1qhy6c9o2_500.png);
      }
    :javascript
      $(function() {
        $('#search-form').on('submit', function(e) {
          e.preventDefault();
          var $form = $(this);
          var group = $form.find('.form-group');
          var repo = $form.find('input').val();
          if (repo.match(/.+\/.+/) ) {
            group.removeClass('has-error');
            group.addClass('has-success');
            window.location = '/gitten/' + repo.replace(/\s/g, '');
          } else {
            group.addClass('has-error');
          }
        });
      });
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %title Gittens
  %body
    .container.panel{:style => "margin-top: 4em; margin-bottom: 4em; border-radius: 1.5em;"}
      %h1 Gittens
      %h3 ...if your Github repo was a kitten...
      %hr/
      .row
        .col-md-8
          %p
          %form#search-form.form-inline{:role => "form"}
            .form-group.has-primary.has-feedback
              %label.control-label{:for => "search-input"}
              %input#search-input.form-control{:autofocus => "", :placeholder => "owner/repository", :type => "text"}/
              %button.btn.btn-primary.btn-xs.form-control-feedback.glyphicon.glyphicon-search{:type => "submit"}
          %p
          %p
            %a.btn.btn-sm.btn-primary{:href => "http://gittens.r15.railsrumble.com/random-gitten"} Give me a random gitten!
          %hr/
          %h1 Example Gitten
          %h2
            %a{:href => "https://github.com/refile/refile", :target => "_blank"} refile/refile
          %hr/
          %img{src: "https://img.shields.io/badge/cheshire_playful_gitten-%28%3D%5E%E2%80%8B%2A%CF%89%2A%5E%3D%29-orange.svg"}/
          %hr/
          .row
            .col-xs-4
              %p age:
              %p size:
              %p contributor diversity:
              %p hunger:
              %p activity:
              %p amusement:
            .col-xs-8
              %p
                %span.label.label-default newborn
                %span.label.label-default kitten
                %span.label.label-primary teen
                %span.label.label-default adult
                %span.label.label-default senior
              %p
                %span.label.label-primary skinny
                %span.label.label-default chubby
                %span.label.label-default fat
              %p
                %span.label.label-default black
                %span.label.label-default bicolor
                %span.label.label-default calico
                %span.label.label-primary tabby
                %span.label.label-default nyan
                %span.label.label-default amazing technicolor
              %p
                %span.label.label-default full
                %span.label.label-primary satiated
                %span.label.label-default hungry
                %span.label.label-default very hungry
                %span.label.label-default near starving
                %span.label.label-default starving
              %p
                %span.label.label-default hibernating
                %span.label.label-default comatose
                %span.label.label-default sleepy
                %span.label.label-default calm
                %span.label.label-default alert
                %span.label.label-primary playful
                %span.label.label-default hyperactive
              %p
                %span.label.label-default slightly amused
                %span.label.label-default amused
                %span.label.label-primary cheshire
        .col-md-4
          %h1 ABOUT
          %p
            Mauris ut risus sed nisl sollicitudin varius vel non erat. Phasellus quis nibh urna. Fusce malesuada vestibulum convallis. Fusce hendrerit mollis pretium. Etiam rhoncus erat et ultricies ultricies. Nam ornare vulputate placerat. Aenean sem neque, vehicula sed orci sed, maximus aliquam velit. Vestibulum et nunc nisi. Ut sit amet sollicitudin tellus. Nullam accumsan leo urna, eget iaculis turpis lacinia sit amet. In molestie, justo ut fringilla pellentesque, lectus neque volutpat purus, id placerat est nulla non urna. Etiam lectus dui, feugiat ut tempus et, lacinia vitae ex. Cras dignissim viverra condimentum. Morbi bibendum finibus enim. Cras lobortis sem ut urna tristique, a eleifend felis malesuada.
          %p
            Mauris ut risus sed nisl sollicitudin varius vel non erat. Phasellus quis nibh urna. Fusce malesuada vestibulum convallis. Fusce hendrerit mollis pretium. Etiam rhoncus erat et ultricies ultricies. Nam ornare vulputate placerat. Aenean sem neque, vehicula sed orci sed, maximus aliquam velit. Vestibulum et nunc nisi. Ut sit amet sollicitudin tellus. Nullam accumsan leo urna, eget iaculis turpis lacinia sit amet. In molestie, justo ut fringilla pellentesque, lectus neque volutpat purus, id placerat est nulla non urna. Etiam lectus dui, feugiat ut tempus et, lacinia vitae ex. Cras dignissim viverra condimentum. Morbi bibendum finibus enim. Cras lobortis sem ut urna tristique, a eleifend felis malesuada.
        %hr{:style => "border-color: white;"}/
        .text-center
          %a{:href => "https://railsrumble.com/entries/4-gittens", :target => "_blank"} Rails Rumble 2015
