%form#search-form.form-inline{role: 'form'}
  .form-group.has-primary.has-feedback
    %label.control-label{for: 'search-input'}
    %input#search-input.form-control{placeholder: 'full repo name / github page', type: 'text', autofocus: true}/
    %button.glyphicon.glyphicon-search.form-control-feedback{type: 'submit', class: 'btn btn-xs btn-primary'}
